* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff8f0;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc29;
    padding: 15px 50px;
}

.navbar .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #007700;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    color: #004400;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #002200;
}

.hero {
    background: url('https://images.pexels.com/photos/2098082/pexels-photo-2098082.jpeg?auto=compress&cs=tinysrgb&w=1600') center/cover no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
   
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px #000;
}

.hero button {
    padding: 10px 25px;
    background-color: #00aa44;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
   border:solid 5px black;
   width: 250px;
   margin: auto;
   border-radius: 10PX;
    margin-bottom: 25px;
    font-size: 1.8rem;
    color: #000000;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produit, .temoignage, .avantage {
    background-color: #fff0d4;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.produit img, .avantage img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.temoignage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #004400;
    color: white;
    padding: 20px 50px;
    text-align: center;
    margin-top: 50px;
}